<div>

    <h2 class="h-header">My scientific papers</h2>

    <table class="t-table">
        <tr>
            <td>#</td>
            <td scope="col">Title</td>
            <td scope="col">Status</td>
            <td scope="col">View</td>
            <td scope="col">Download</td>
            <td scope="col">Action</td>
        </tr>
        <tr *ngFor="let submition of submitions; index as i;" @fadeIn>
            <th scope="row"> {{ i+1 }} </th>
            <td> {{ submition.paperTitle }} </td>
            <td> {{ submition.status }} </td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button"
                        (click)="viewDocument('scientific-paper', submition.paperId)">
                        Scientific paper
                    </button>
                    <button *ngIf="submition.coverLetterId != null"
                        (click)="viewDocument('cover-letter', submition.coverLetterId)">
                        Cover letter
                    </button>
                    </div>
            </td>
            <td>
                <button class="btn btn-secondary" (click)="showPopUp(submition)">Download</button>
            </td>
            <td *ngIf="submition.status !== 'CANCELED'">
                <button class="btn btn-danger" (click)="cancelSubmition(submition.submitionId, i)">
                    Cancel 
                </button>
            </td>
        </tr>
        <tr *ngIf="submitions.length == 0" class="last-row-no-data">
            <td colspan="6">No scientific papers yet</td>
        </tr>
    </table>

    <!--<table class="table">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">View</th>
            <th scope="col">Download</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let submition of submitions; index as i;">
                <th scope="row"> {{ i+1 }} </th>
                <td> {{ submition.paperTitle }} </td>
                <td> {{ submition.status }} </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary"
                            (click)="viewDocument('scientific-paper', submition.paperId)">
                           Scientific paper
                        </button>
                        <button *ngIf="submition.coverLetterId != null" type="button" class="btn btn-secondary"
                            (click)="viewDocument('cover-letter', submition.coverLetterId)">
                            Cover letter
                        </button>
                      </div>
                </td>
                <td>
                    <button class="btn btn-secondary" (click)="showPopUp(submition)">Download</button>
                </td>
                <td *ngIf="submition.status !== 'CANCELED'">
                    <button class="btn btn-danger" (click)="cancelSubmition(submition.submitionId, i)">
                        Cancel 
                    </button>
                </td>
            </tr>
        </tbody>
    </table>-->
</div>

<app-document-download [displayPopUp]="displayDownloadPopUp" [submition]="submitionToDownload"
    (closePopUpEvent)="closePopUp($event)">
</app-document-download>

