<div class="revision-holder">

    <h2 class="heading"> Submit revision </h2>

    <label> Reviewers that reviewed your scientific paper:  </label>
    <ul>
        <li *ngFor="let review of reviewsForPaper" (click)="viewReview(review.reviewId)">
            {{ review.reviewerName }} &nbsp; &nbsp;  (View)
        </li>
    </ul>

    <div *ngIf="uploadType == 'file'"[type]="'scientific-paper'" [cid]="'d3'" app-document-upload></div>

</div>

<app-scientific-paper-editor [contentToUpdate]="paperContent">

</app-scientific-paper-editor>
