<div class="revision-holder">

    <h2 class="heading"> Submit revision </h2>

    <label> Reviewers that reviewed your scientific paper:  </label>
    <ul>
        <li *ngFor="let review of reviewsForPaper" (click)="viewReview(review.reviewId)">
            {{ review.reviewerName }} &nbsp; &nbsp;  (View)
        </li>
    </ul>

    <div class="form-group" *ngIf="!uploadCoverLetter">
        <label> How would you like to add your revision? </label>
        <select class="form-control" [(ngModel)]="uploadType">
            <option value="" selected disabled hidden></option>
            <option value="file"> Upload file </option>
            <option value="editor"> Use editor </option>
        </select>
    </div>


    <div *ngIf="uploadType == 'file'"[type]="'scientific-paper'" [cid]="'d3'" app-document-upload></div>

</div>

<app-scientific-paper-editor *ngIf="uploadType == 'editor'" [contentToUpdate]="paperContent">

</app-scientific-paper-editor>
