@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: Montserrat;
    src: url("assets/fonts/Montserrat-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: Montserrat;
    src: url("assets/fonts/Montserrat-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Montserrat;
    src: url("assets/fonts/Montserrat-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: Montserrat;
    src: url("assets/fonts/Montserrat-Bold.ttf");
    font-weight: 700;
}

body {
    font-family: Montserrat;
    font-weight: normal;
    margin: 0;
    background: black;
    color: white;
}

.simple-button {
    padding: 10px 25px;
    background: black;
    color: white;
    box-shadow: 0px 0px 0px 0px black;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    transition: .3s;
}

.simple-button:hover {
    background: white;
    color: black;
    box-shadow: 0px 0px 10px 0px black;
}

.hide-file-input {
    width: 0px;
    height: 0px;
    overflow: hidden;
}