.dialog-pop-up {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 20%;
    background-color: white;
    border-radius: 20px;
}

.dialog-content {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
}

.dialog-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
}

.centered-btn {
    position: relative;
    width: 40%;
    left: 30%;
}

.heading {
    margin-top: 1ex;
}