<div *ngIf="selectedPaper == null">
    <p class="new-papers-header">New scientific papers</p>

    <table class="edit-table">
        <tr>
            <td>Paper name</td>
            <td>Publisher</td>
            <td>Status</td>
            <td>View</td>
            <td colspan="3">Download</td>
            <td>Action</td>
        </tr>
        <tr *ngFor="let sub of submitions">
            <td>{{sub.paperTitle}}</td>
            <td>{{sub.author.firstname}} {{sub.author.lastname}}</td>
            <td>{{sub.status}}</td>
            <td><a [href]="getSanitizedURL('http://localhost:8081/api/scientific-paper/view/' + sub.paperId)" [attr.target]="'_blank'"><button>View</button></a></td>
            <td><a [href]="getSanitizedURL('http://localhost:8081/api/scientific-paper/download/xml/' + sub.paperId)" [attr.target]="'_blank'"><button>XML</button></a></td>
            <td><a [href]="getSanitizedURL('http://localhost:8081/api/scientific-paper/download/html/' + sub.paperId)" [attr.target]="'_blank'"><button>HTML</button></a></td>
            <td><a [href]="getSanitizedURL('http://localhost:8081/api/scientific-paper/download/pdf/' + sub.paperId)" [attr.target]="'_blank'"><button>PDF</button></a></td>
            <td><button (click)="selectPaper(sub)">Choose</button></td>
        </tr>
    </table>
</div>

<div *ngIf="selectedPaper">
    <div class="back" (click)="selectPaper(null)">BACK</div>
    <p class="new-papers-header">Choose reviewers for {{selectedPaper.paperTitle}}</p>

    <table class="edit-table">
        <tr>
            <td>Rank</td>
            <td>Author</td>
            <td>Email</td>
            <td>View</td>
            <td>Action</td>
        </tr>
    </table>
</div>
