<div *ngIf="selectedPaper == null">
    <p class="new-papers-header">New scientific papers</p>

    <table class="edit-table">
        <tr>
            <td>Paper name</td>
            <td>Publisher</td>
            <td>Status</td>
            <td colspan="2">View</td>
            <td colspan="3">Download</td>
            <td>Action</td>
        </tr>
        <tr *ngFor="let sub of submitions" @fadeIn>
            <td>{{sub.paperTitle}}</td>
            <td>{{sub.author.firstname}} {{sub.author.lastname}}</td>
            <td [ngClass]="{'published-status' : sub.status == 'PUBLISHED',
            'reviewed-status' : sub.status == 'REVIEWED', 'rejected-status' : sub.status == 'REJECTED'}">
                {{sub.status}}
            </td>
            <td>
                <a [href]="getSanitizedURL('http://localhost:8081/api/scientific-paper/view/' + sub.paperId)" [attr.target]="'_blank'"><button>SC</button></a>
            </td>
            <td>
                <a *ngIf="sub.coverLetterId" [href]="getSanitizedURL('http://localhost:8081/api/cover-letter/view/' + sub.coverLetterId)" [attr.target]="'_blank'"><button>CL</button></a>
                <button *ngIf="!sub.coverLetterId" class="disabled-button">CL</button>
            </td>
            <td><a [href]="getSanitizedURL('http://localhost:8081/api/scientific-paper/download/xml/' + sub.paperId)" [attr.target]="'_blank'"><button>XML</button></a></td>
            <td><a [href]="getSanitizedURL('http://localhost:8081/api/scientific-paper/download/html/' + sub.paperId)" [attr.target]="'_blank'"><button>HTML</button></a></td>
            <td><a [href]="getSanitizedURL('http://localhost:8081/api/scientific-paper/download/pdf/' + sub.paperId)" [attr.target]="'_blank'"><button>PDF</button></a></td>
            <td *ngIf="sub.status != 'PUBLISHED' && sub.status != 'IN_REVIEW_PROCESS' && sub.status != 'REVISIONS_REQUESTED'"><button (click)="selectPaper(sub)">Choose</button></td>
            <td *ngIf="sub.status == 'PUBLISHED' || sub.status == 'REVISIONS_REQUESTED'">Currently No Action</td>
            <td *ngIf="sub.status == 'IN_REVIEW_PROCESS'"><button (click)="selectPaper(sub)">Reviewers</button></td>
        </tr>
        <tr *ngIf="submitions.length == 0" class="last-row-no-data">
            <td colspan="9">No new scientific papers</td>
        </tr>
    </table>
</div>

<div *ngIf="selectedPaper && selectedPaper.status == 'NEW'">
    <div class="back" (click)="selectPaper(null)">BACK</div>
    <p class="new-papers-header">Choose reviewers for {{selectedPaper.paperTitle}}</p>

    <table class="edit-table">
        <tr>
            <td>Rank</td>
            <td>Author</td>
            <td>Email</td>
            <td>Action</td>
        </tr>
        <tr *ngFor="let rev of reviewers" @fadeIn>
            <td>{{rev.rank}}</td>
            <td>{{rev.firstname}} {{rev.lastname}}</td>
            <td>{{rev.email}}</td>
            <td><button (click)="requestReview(rev)">Request review</button></td>
        </tr>
    </table>

    <p class="requested-reviewers-header">Requested reviewers</p>

    <table class="edit-table">
        <tr>
            <td>Firstname</td>
            <td>Lastname</td>
            <td>Email</td>
            <td>Status</td>
        </tr>
        <tr *ngFor="let rev of requestedReviewers" @fadeIn>
            <td>{{rev.firstname}}</td>
            <td>{{rev.lastname}}</td>
            <td>{{rev.email}}</td>
            <td [ngClass]="{'accepted-request' : rev.reviewerStatus == 'ACCEPTED', 'declined-request' : rev.reviewerStatus == 'DECLINED'}">{{rev.reviewerStatus}}</td>
        </tr>
        <tr *ngIf="requestedReviewers.length == 0" class="last-row-no-data">
            <td colspan="4">No requested reviewers</td>
        </tr>
    </table>

    <p class="new-papers-header" style="margin-top: 90px !important;">Actions</p>
    <div class="editor-future-actions d-flex justify-content-center">
        <button style="margin:0 !important;" class="editor-future-actions-button" (click)="startReviewForSubmition()">Start Review</button>
        <button class="editor-future-actions-button" (click)="rejectSubmition()">Reject</button>
    </div>

</div>

<div *ngIf="selectedPaper && selectedPaper.status == 'REVIEWED'">
    <div class="back" (click)="selectPaper(null)">BACK</div>
    <p class="new-papers-header">View reviews for {{selectedPaper.paperTitle}}</p>

    <table class="edit-table">
        <tr>
            <td>Paper Title</td>
            <td>Reviewer</td>
            <td>View</td>
        </tr>
        <tr *ngFor="let rev of reviewsForSelectedSubmition" @fadeIn>
            <td>{{rev.paperTitle}}</td>
            <td>{{rev.reviewerName}}</td>
            <td><a [href]="getSanitizedURL('http://localhost:8081/api/paper-review/view/' + rev.reviewId)" [attr.target]="'_blank'"><button>View</button></a></td>
        </tr>
    </table>

    <p class="new-papers-header" style="margin-top: 90px !important;">Actions</p>
    <div class="editor-future-actions d-flex justify-content-center">
        <button class="editor-future-actions-button" (click)="acceptSubmition()">Accept</button>
        <button class="editor-future-actions-button" (click)="requestRevisionsSubmition()">Request revisions</button>
        <button class="editor-future-actions-button" (click)="rejectSubmition()">Reject</button>
    </div>
</div>

<div *ngIf="selectedPaper && selectedPaper.status == 'IN_REVIEW_PROCESS'">
    <div class="back" (click)="selectPaper(null)">BACK</div>
    <p class="requested-reviewers-header">Requested reviewers</p>

    <table class="edit-table">
        <tr>
            <td>Firstname</td>
            <td>Lastname</td>
            <td>Email</td>
            <td>Status</td>
        </tr>
        <tr *ngFor="let rev of requestedReviewers" @fadeIn>
            <td>{{rev.firstname}}</td>
            <td>{{rev.lastname}}</td>
            <td>{{rev.email}}</td>
            <td [ngClass]="{'accepted-request' : rev.reviewerStatus == 'ACCEPTED', 'declined-request' : rev.reviewerStatus == 'DECLINED'}">{{rev.reviewerStatus}}</td>
        </tr>
        <tr *ngIf="requestedReviewers.length == 0" class="last-row-no-data">
            <td colspan="4">No requested reviewers</td>
        </tr>
    </table>
</div>