.choose-file-label {
    padding: 8px 25px;
    background: transparent;
    border: 2px solid black;
    cursor: pointer;
    transition: .3s;
}

.choose-file-label:hover {
    background: black;
    color: white;
}

.choose-file-label-indicator {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 8px 10px;
    min-width: 200px;
}