<!--
<div app-documents></div>

<div style="margin-top: 20px;" [type]="'document-review'" [cid]="'d1'" app-document-upload></div>
<div style="margin-top: 20px;" [type]="'paper-review'" [cid]="'d2'" app-document-upload></div>
<div style="margin-top: 20px;" [type]="'scientific-paper'" [cid]="'d3'" app-document-upload></div>
<div style="margin-top: 20px;" [type]="'cover-letter'" [cid]="'d4'" app-document-upload></div>

<app-scientific-paper-editor></app-scientific-paper-editor>
-->

<div class="home-container">
    <h1 class="header"> Scientific publications </h1>

    <p class="content"> 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras faucibus porttitor sodales. 
        Praesent molestie vel erat non tempus. Duis vestibulum congue porta.
        Aliquam in dolor ac urna mattis pretium. Curabitur eu sapien semper, blandit ligula id, finibus leo. 
        Donec sit amet ultrices felis. Ut at nibh eu ex pretium commodo id at nulla.
        Etiam feugiat at sem quis mattis. Maecenas facilisis ipsum id quam aliquet, at iaculis justo mollis. 
        Proin vitae est odio. Ut non magna elementum eros eleifend elementum. Suspendisse placerat sit 
        amet neque sed molestie. Nam quis ante at risus consectetur dapibus nec a purus. Morbi viverra 
        et nibh non pellentesque. Maecenas quis sem elit. Vestibulum ullamcorper enim quis congue vestibulum.
    </p>

</div>


