<div class="editor-header" id="editor-toolbar-holder">
    <ul id="editor-toolbar">
        <div id="left-selection">
            <li (click)="generateTemplate()">Generate template</li>
            <li (click)="uploadDocument()" *ngIf="!isDocumentUploading()"> Upload document </li>
            <li>
                <div id="editor-toolbar-spinner" class="spinner-grow" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </li>

        </div>
        
        <div id="right-selection">
            <label>Theme:</label>
            <li>
                <select class="custom-select" (change)="changeTheme($event)">
                    <option *ngFor="let theme of themes; index as i;" [value]="i">{{ themes[i] }}</option>
                  </select>
            </li>
        </div>
        
    </ul>
</div>

<div class="editor-header" id="editor-log-holder">
    <label class="log-content"> Log: {{ logMessage }}</label>
</div>

<div ace-editor #editor
       id="xml-editor"
       [ngClass]="documentValid ? 'valid': 'error'"
       [(text)]="xmlContent"
       [mode]="'xml'" 
       [theme]="selectedTheme"
       [options]="options"
       [readOnly]="false"
       [autoUpdateContent]="true" 
       [durationBeforeCallback]="800" 
       (textChanged)="textChanged()">
</div>