#xml-editor {
    min-height: 600px;
    font-size: 20px;
    width:100%;
    overflow: auto;
    margin-bottom: 2ex;
    border-color: red;
    border-radius: 10px;
}

.error {
    border-style: solid;
}

.valid {
    border-style: none;
}

.editor-header {
    background-color: #333;
    color: white;
    border-radius: 10px;
    margin-bottom: 1ex;
}

#editor-toolbar-holder {
    height: 6ex;
}

#editor-log-holder {
    min-height: 4ex;
    font-size: 18px;
}

#editor-toolbar {
    list-style-type: none;
}

#editor-toolbar li {
    display: inline-block;
    margin: 1ex;
}

#editor-toolbar li:hover {
    background-color: #111;
    cursor: pointer;
}