div.login-form-holder {
    position: absolute;
    top: 20%;
    width: 60%;
    left: 20%;
    height: 60%;
    border-radius: 20px;
    border: 1px solid black;
}

div.login-decorator {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
}

.header {
    text-align: center;
    margin-bottom: 2ex;
}

input {
    border: 1px solid black;
}
