.container {
    position: relative;
}

.heading {
    margin-top: 2ex;
    margin-bottom: 4ex;
}

.paper-holder {
    font-size: 18px;
    margin-bottom: 6ex;
}

ul {
    list-style-type: circle;
}

.paper-item {
    font-weight: 600;
    letter-spacing: 1px;
}

.paper-name {
    font-size: 1.5rem;
}

.search-input {
    background: transparent;
    border: 2px solid black;
    border-radius: 2px;
    padding: 5px 20px;
    width: 400px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-family: Montserrat;
    font-weight: 600;
}

.search-button {
    padding: 10px 20px;
    background: black;
    color: white;
    letter-spacing: 1px;
    border: none;
    font-family: Montserrat;
    font-weight: 600;
    transition: .3s;
}

.search-button:hover {
    background: white;
    color: black;
    box-shadow: 0px 0px 20px 0px black;
}

