<div class="container">
    <h2 class="heading" style="font-weight: 600;"> Published papers </h2> 

    <div class="d-flex justify-content-center" style="margin-top:20px;margin-bottom:40px;">
        <div>
            <input placeholder="Simple Search" [(ngModel)]="searchParams.query" class="search-input" /><br>
            <input placeholder="Date created" [(ngModel)]="searchParams.dateCreated" class="search-input" /><br>
            <input placeholder="Date revised" [(ngModel)]="searchParams.dateRevised" class="search-input" /><br>
            <input placeholder="Date published" [(ngModel)]="searchParams.datePublished" class="search-input" /><br>
            <input placeholder="Status" [(ngModel)]="searchParams.status" class="search-input" /><br>
            <input placeholder="Custom metadata" [(ngModel)]="searchParams.customMetaData" class="search-input" /><br>
            <button class="search-button" (click)="searchSP()">Search</button>
        </div>
    </div>

    <h4 class="heading" style="font-weight: 600;" *ngIf="publishedPapers.length == 0">
        No papers were published
    </h4>

    <div class="row paper-item" style="margin-top:70px;">
        <div class="col col-lg-6 paper-holder d-flex justify-content-center" *ngFor="let paper of publishedPapers">
            <div>
                <p class="paper-name"> Paper name: "{{ paper.paperTitle }}" </p>
                <label>Authors: </label>
                <ul>
                    <li *ngFor="let author of paper.authors"> {{ author.firstName }} {{ author.lastName }}</li>
                </ul>

                <button class="search-button" (click)="viewPaper(paper.paperId)">
                    View 
                </button>

                <button class="search-button" style="margin-left: 3ex;" (click)="showPopUp(paper)"> 
                    Download
                </button>
            </div>
        </div>
    </div>
</div>

<app-document-download [displayPopUp]="downloadPopUpDisplayed" [submition]="paperToDownload"
    (closePopUpEvent)="closePopUp($event)">
</app-document-download>

